---
---

@import "{{ site.theme }}";

a.mybuttons {
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
	text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	padding: 2px 2px 2px 22px;
	height: 30px;
}

a.mybuttons:hover {
	color: #fff;
	text-decoration: none;
}
